<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nessfit</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <!--<div class="navbar">
        <div class="navdiv">
            <img src="logo.png" alt="logo image" class="logo">
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/sign-up">Sign Up</a></li>
            <li><a href="/logout">Sign out</a></li>
            <li><a href="/index">Home</a></li>
        </ul>-->
        </div>
        <div class="row">
            <div class="col">
                <h1>NessFit</h1>
                <p>NessFit is a web application that helps you set goals,
                     tracks and provide tips in your journey</p>
                     <form action="/sign-up">
                        <input type="submit" value="Get Started">
                     </form>
                     <form action="/login">
                        <input type="submit" value="Continue My journey">
                     </form> 
                </div>
            </div> 
        </div>
</body>
</html>